.app {
  max-width: 1400px;
  margin: auto;
}

.app__body {
  padding: 0 10%;
  margin: auto;
  display: flex;
}

img {
  width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 780px) {
  .app__body {
    padding: 0 5%;
  }
}
